$fontHeadings: #E6E2AF;
$backgroundColor: #EFECCA;
$activeColor: #C84663;
$infoHoverFont: #002F2F;
$listFont: #A7A37E;
$buttonColor1: #00d6f7;
$mainButtonColor: #19c8e3;
$secondaryButtonColor: #2d3133;
