body {
  background-image: url("https://s10.postimg.org/4tkixaund/Full_Size_Render_4.jpg");
}
.coolheaderfont {
  color: #EFECCA;
  font-size: 1.5em;
  padding-right: 10px;
  &:hover {
    color: $activeColor;
  }
}
#nameSelect{
  width: 20%;
  margin-left: 40%;
  text-align: center;
}
#websiteNameContainer {
  display: flex;
  // width: 100vw;
  height: 60vh;
  align-items: center;
  justify-content: center;
}
#websiteName {
  color: #EFECCA;
}
.h1about{
  color: #EFEECC;
  text-align: center;
}
