body {
  background: $backgroundColor;
}
.coolheaderfont {
  color: $infoHoverFont;
  font-size: 1.5em;
  padding-right: 10px;
  &:hover {
    color: $activeColor;
  }
}
#nameSelect{
  width: 20%;
  margin-left: 40%;
  text-align: center;
}
#websiteNameContainer {
  display: flex;
  // width: 100vw;
  height: 60vh;
  align-items: center;
  justify-content: center;
}
